Hallo 
= @order.first_name
%br
wir haben Deine Bestellung erhalten.

Folgende Artikel hast Du bestellt:

= render @order.line_items

Wir werden Dir eine weitere E-Mail schicken, sobald ihre Ware versandt wurde.

Mit sportlichen Grüßen,
Dein Berner-Bikes.com Team