%nav.menu 
  .logo
    = link_to (image_tag ('logo_32x32.png')), root_url
  .menu_items  
  - $categories.each do |category| 
    .menu_item= link_to category.title, category
  - if can? :create, $categories
    .add= link_to '+', new_category_path  
  - if (your_cart.total_number == 0)
    .cart_box{ :style => "display: none"}
  -else
    .cart_box= render your_cart
