
.logo
  = link_to (image_tag ('logo_white.png')), root_url
- if (your_cart.total_number == 0)
  .cart_box{ :style => "display: none"}
-else
  .cart_box= render your_cart
%nav.menu 
  .menu_items 
  - if ($categories != nil) 
    - $categories.each do |category| 
      .menu_item
        = link_to category.title, category, :class => category.title 
