%nav.menu 
  .logo
    = image_tag ('logo_32x32.png')
  - $categories.each do |category| 
    .menu_items
      .menu_item= link_to category.title, products_path
  
  .cart_link.menu_item= link_to '3 Artikel im Warenkorb'