%section#promo 
  .box
    .left
      %h1.half_title
        = link_to 'RENT-A-BIKE Mallorca'
      %ul
        %li=link_to 'Hauptseite'
        %li=link_to 'Die Bikes'
        %li=link_to 'Das Hotel'
        %li=link_to 'Unser Service'
  .box
    .right
      %h1.half_title
        = link_to 'Team.BERNER-Bikes.com', "http://team.berner-bikes.com"
      %ul
        %li=link_to 'Deutsche Radcross Meisterschaft 2012 / Teil 2 - Sonntag', 'http://team.berner-bikes.com/posts/Deutsche-Radcross-Meisterschaft-2012-Teil-2-Sonntag'
        %li=link_to 'Deutsche Radcross Meisterschaft 2012 / Teil 1 - Samstag', 'http://team.berner-bikes.com/posts/deutsche-radcross-meisterschaft-2012-in-kleinmachnow--fwdslsh--teil-1---samstag'
        %li=link_to 'Finale des SKS-Deutschland-Cup in Herford', 'http://team.berner-bikes.com/posts/finale-des-sks-deutschland-cup-in-herford'
        %li=link_to '12. Lauf des SKS-Deutschland-Cup in Vechta', 'http://team.berner-bikes.com/posts/12-period--lauf-des-sks-deutschland-cup-in-vechta'


