%section#promo 
  .box
    .left
      %h1.half_title
        = link_to 'RENT-A-BIKE Mallorca'
      %ul
        %li=link_to 'Hauptseite'
        %li=link_to 'Die Bikes'
        %li=link_to 'Das Hotel'
        %li=link_to 'Unser Service'
  .box
    .right
      %h1.half_title
        = link_to 'Team.BERNER-Bikes.com', "http://team.berner-bikes.com"
      %ul
        - team_news.take(5).each do |item|
          %li= link_to item[:title], item[:link]




