%section#content
  .slideshow
    - @news_items.each do |item|
      .slide
        =link_to (image_tag item.image(:full)), item
        .headline
          %h1= preview(item.title, count = 50)
  = render 'partials/promo'

