%section#content
  .slideshow
    - @news_items.each do |item|
      .slide
        =link_to (image_tag item.image(:full)), item
        .headline
          .logo= image_tag ('logo_32x32_white.png')
          %h1= preview(item.title, count = 30)
  = render 'partials/promo'

