%section#content
  .slideshow
    - @news_items.each do |item|
      .slide
        =link_to (image_tag item.image(:full)), item
        .headline
          %h1= preview(item.title, count = 50)
  .boxes
    - @little_news.each do |item|
      .box
        = image_tag item.image(:box)
        .headline
          %p= item.title