.login_form {
  input {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
  }
  input#login {
    color: #fff;
    font-weight: bold;
    background: #c00;
    border: none;
    border-radius:20px;
    padding: 10px 20px;
    cursor: pointer;
  }
}