.login_form {
  input {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background: #ddd;
  }
  input:focus {
    border-radius: 10px;
    padding: 5px 10px;
    background: #fff;
  }
  input#login {
    color: #fff;
    font-weight: bold;
    background: #c00;
    border: none;
    border-radius:20px;
    padding: 10px 20px;
    cursor: pointer;
  }
}


.css_button {
  padding: 5px 0 10px;
  a{
    background-color: #ccc;
    border: 1px solid #111;
    border-radius: 4px;
    padding: 1px 10px;
    margin: 5px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
  }
  a:hover {
    color: #000;
  }
}