nav.pagination {
	clear: both;
	text-align: center;
	padding: 12px 0;
	width: 970px;
	.prev {
		float: left;
		width: 41px;
		height: 41px;
	}
	.title {
		//text-shadow: 0 0 5px #000;
		font-weight: bold;
		font-size: 24px;
		line-height: 41px;
	}
	.next {
		float: right;
		width: 41px;
		height: 41px;
	}
}

