nav.pagination {
	clear: both;
	text-align: center;
	padding: 12px 0;
	width: 970px;
	.prev {
		float: left;
		width: 41px;
		height: 41px;
	}
	.title {
		text-shadow: 0 0 5px #000;
		font-weight: bold;
		font-size: 24px;
		line-height: 41px;
	}
	.next {
		float: right;
		width: 41px;
		height: 41px;
	}
}

.category_index, .category_form, .category {
	table {
		margin: 20px 0;
		width: 960px;
		font-size: 12px;
		line-height: 14px;
	}
	th {
	   	font-weight:bold;
	   	border-bottom: 1px solid #666;
	}
	td, th {	
		padding: 10px 10px 5px 10px;
		text-align: left;
	}
	tr:nth-child(odd) {
		background: #eee;
	}
	.total_item_price, .item_price {
		text-align: right;
	}
	.total_price, .total {
		text-align:right;
	}
	.total_line {
   		font-weight: bold;
   		border-top: 1px solid #666;
   		border-bottom: 3px solid #666;
	}
}