/**** Mixins ****/
@mixin gradient {
  background-image: linear-gradient(left top, #CCCCCC 26%, #757575 0%, #424242 82%);
  background-image: -o-linear-gradient(left top, #CCCCCC 26%, #757575 0%, #424242 82%);
  background-image: -moz-linear-gradient(left top, #CCCCCC 26%, #757575 0%, #424242 82%);
  background-image: -webkit-linear-gradient(left top, #CCCCCC 26%, #757575 0%, #424242 82%);
  background-image: -ms-linear-gradient(left top, #CCCCCC 26%, #757575 0%, #424242 82%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.26, #CCCCCC),
    color-stop(0, #757575),
    color-stop(0.82, #424242)
  );
};