// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_index, .order_form, .order {
	table {
		margin: 20px 0;
		width: 930px;
		font-size: 12px;
		line-height: 14px;
	}
	th {
	   	font-weight:bold;
	   	border-bottom: 1px solid #666;

	}
	td, th {	
		padding: 10px 10px 8px 10px;
		text-align: left;
	}
	tr:nth-child(odd) {
		background: #252020;
		opacity: 0.7;
	}
	.total_item_price, .item_price {
		text-align: right;
	}
	.total_price, .total {
		text-align:right;
	}
	.total_line {
   		font-weight: bold;
   		border-top: 1px solid #222;
   		border-bottom: 3px solid #222;
	}
}