// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#partners{
	float: left;
	width: 267px;

	h1 {
	    padding: 5px 10px 5px 5px; 
		border-top: solid 1px #c00;
		background: #eee;
	}
	a {
		color: #fff;
		text-decoration: none;
	}

	.partner {
		margin: 40px 0 40px 0px;
	}

}
.partner_index, .partner_form, .partner {
	table {
		margin: 20px 0;
		width: 960px;
		font-size: 12px;
		line-height: 14px;
	}
	th {
	   	font-weight:bold;
	   	border-bottom: 1px solid #666;
	}
	td, th {	
		padding: 10px 10px 5px 10px;
		text-align: left;
	}
	tr:nth-child(odd) {
		background: #eee;
	}
	.total_item_price, .item_price {
		text-align: right;
	}
	.total_price, .total {
		text-align:right;
	}
	.total_line {
   		font-weight: bold;
   		border-top: 1px solid #666;
   		border-bottom: 3px solid #666;
	}
}