// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#partners{
	clear: both;
	width: 700px;

	a {
		color: #fff;
		text-decoration: none;
	}

	.partner {
		float: left;
		margin: 30px 15px 30px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=4)
	}
	.partner:hover {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1)
	}
}
