#product {
	clear: both;
	margin: 5px 0 0;
	height: 552px;
}
#product_show {
	float: left;
	padding: 15px 15px 15px 15px;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: INSET 0 0 10px #000;
	height: 520px;	
	width: 970px;
	.inner {
		position: relative;
		float:left;
		height: 520px;
		width: 520px;
		box-shadow: 3px 0 10px #000;
		background-color: #222;

		.thumbs {

			position: absolute;
			height: 80px;
			bottom: 5px;
			left: 5px;
			background: #252020;
			border: 4px solid #252020;
      box-shadow: 
				1px 1px 1px #000,
				-1px -1px 1px #666;
			.image {
				display: inline;
				height: 80px;
				width: 120px;	
			}
		}
	}
}
.pop_image {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
	position: fixed;
	top: 5%;
	left:50%;
	margin-left: -395px;
	border: 10px solid #ddc;
	box-shadow: 0 0 20px #000;	
	z-index: 102;
	display: none;
	background-color: #ddc;
  color: #111;
  border-radius: 3px;
  .label {
  	color: #111;
	  text-align: center;
	  line-height: 36px;
	  }	
}

#product_show_description {
		color: #000;
		h1 {
			font-size: 24px;
			margin-bottom: 10px;
			color: #000;
			border-bottom: solid 2px #ccc;
		}
		p {
			font-family: vollkorn, serif;
		}
		z-index: 0;
		position: relative;
		float: left;
		height: 540px;
		width: 400px;
		padding: 95px 85px 15px 95px;
		margin: -32px -200px 0 -35px;
		background: url('page_back2.png');
		background-repeat: no-repeat;
		opacity:1.0;
		-moz-opacity:1.0;
		filter:alpha(opacity=10);

		.field {
			padding: 10px 0;
		}	
		.price {
			position: absolute;
		  bottom:170px;
		  right: 100px;
			text-align: right;
			color: #c00;
			font-size: 36px;
			font-weight: bold;
			.vat {
				color: #000;
				font-size: 12px;
				font-weight: normal;
			}
		}
	}

#product.show .actions {
		position:absolute;
		bottom: 130px;
		width: 380px;
    text-align: right;
	  margin: 0;
	  border-radius: 0;
	  border-top: 2px solid #ccc;
	  opacity:1.0;
	  -moz-opacity:1.0;
	  filter:alpha(opacity=10);
	  background: #eee;
}