#product {
	clear: both;
	margin: 5px 0 0;
}
#product_show {
	float: left;
	padding: 15px 15px 15px 15px;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: INSET 0 0 10px #000;
	height: 520px;	
	width: 970px;
	.inner {
		position: relative;
		float:left;
		height: 520px;
		width: 520px;
		box-shadow: 3px 0 10px #000;
		background-color: #222;
		.full_image{
		}
		.thumbs {
			position: absolute;
			bottom: 5px;
			left: 5px;
			border-top: solid 5px #100;
			border-bottom: solid 5px #100;
			box-shadow: 0 0 10px #aaa;
			.thumbs_inner {
				border-top: dashed 6px #100;
				border-bottom: dashed 6px #100;
				
			}
			.image {
				background-color: #100;
				border: solid 2px #100;
			
			}
		}
	}
}
.pop_image {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
	position: fixed;
	top: 5%;
	left:50%;
	margin-left: -495px;
	border: 10px solid #ddc;
	box-shadow: 0 0 20px #000;	
	z-index: 98;
	display: none;
	background-color: #ddc;
  color: #111;
  border-radius: 3px;
  .label {
  	color: #111;
	  text-align: center;
	  line-height: 36px;
	  }	
}

#product_show_description {
		color: #000;
		position: relative;
		float: left;
		height: 560px;
		width: 440px;
		padding: 75px 65px 15px 75px;
		margin: -54px -200px 0 -35px;
		background: url('page_back.png');
		background-repeat: no-repeat;
		opacity: 1;
		h1 {
			margin-bottom: 10px;
			color: #000;
		}
			
		.price {
			color: #c00;
			font-size: 24px;
			font-weight: bold;
		}
	}

#product.show .actions {
	background: none;
	margin: 0;
	width: 100%;
	padding: 0;
	height: 100%;
	line-height: 100%;
	border-radius: 0;
	opacity: 1;
}