#product {
	clear: both;
	height: 552px;
}
#product_show {
	float: left;
	margin-top: 15px;
	height: 520px;	
	width: 1000px;
	background-color: #252020;
	.inner {
		position: relative;
		float:left;
		height: 520px;
		width: 600px;
		box-shadow: 3px 0 10px #000;
		background-color: #222;

		.thumbs {

			position: absolute;
			height: 80px;
			bottom: -13px;
			left: 10px;
    img {
    	border: 2px solid #222;
    }

		}
	}
}
.pop_image {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
	position: fixed;
	top: 5%;
	left:50%;
	margin-left: -395px;
	border: 10px solid #ddc;
	box-shadow: 0 0 20px #000;	
	z-index: 102;
	display: none;
	background-color: #ddc;
  color: #111;
  border-radius: 3px;
  .label {
  	color: #111;
	  text-align: center;
	  line-height: 36px;
	  }	
}

#product_show_description {
		color: #000;
		box-shadow: 0 0 10px #000;
		margin-top: -5px;
		h1 {
			font-size: 24px;
			margin-bottom: 10px;
			color: #000;
			border-bottom: solid 2px #ccc;
		}
		p {
			font-family: vollkorn, serif;
		}
		position: relative;
		float: left;
		height: 520px;
		width: 380px;
		padding: 10px;
		background: #ddd;
  

		.field {
			padding: 5px 0;
		}	
		.price {
			position: absolute;
		  bottom: 80px;
		  right: 20px;
			text-align: right;
			color: #c00;
			font-size: 36px;
			font-weight: bold;
			.vat {
				color: #000;
				font-size: 12px;
				font-weight: normal;
			}
		}
	}

#product.show .actions {
		position:absolute;
		bottom: 30px;
		width: 360px;
    text-align: right;
	  margin: 0;
	  border-radius: 0;
	  border-top: 2px solid #ccc;
	  opacity:1.0;
	  -moz-opacity:1.0;
	  filter:alpha(opacity=10);
	  background: #eee;
}