#promo {
  position: absolute;
  right: 30px;
  bottom: -15px;
  text-align: left;
  margin-top: -15px;
  .box {
    float: right;
    padding: 8px 15px;
    width: 200px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
      z-index: 50;
    a {
      text-decoration: none;
    }
  }
  #mallorca {
    background: #430;
    border-bottom: 1px solid #320;
    border-right: 1px solid #320;

  }
  #mallorca:hover {
    background: #860;
    box-shadow: 0 0 5px #000;
  }
  #team {
    background: #400;
    border-bottom: 1px solid #300;
    border-right: 1px solid #300;
  }
  #team:hover { 
    background: #800;
    box-shadow: 0 0 5px #000;

  }
  
}