#promo {
  clear: both;
  position: static;

  text-align: left;

  overflow: hidden;
  .box {
    background: #252020;
    float: left;
    width: 240px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right:10px;
    a {
      text-decoration: none;
    }
    &:hover {
      background: #000;
    }
    .mallorca {
      a:hover {
        color: orange;
      }
    }
    .team {

      a:hover {
        color: #c00;
      }
    }
  }
}