#promo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 500;
  text-align: right;

  overflow: hidden;
  .box {
    background: #252020;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid #444;
    border-right: 2px solid #000;
    float: right;
    width: 250px;
    text-align: center;
    padding: 5px;
    a {
      text-decoration: none;
    }
    &:hover {
      background: #000;
    }
    .mallorca {
      a:hover {
        color: orange;
      }
    }
    .team {

      a:hover {
        color: #c00;
      }
    }
  }
}