.pop_login {
  display: none;
  z-index: 99;
  a {
    font-size: 12px;
    text-decoration: none;
    color: #c00;
  }
  a:hover {
    text-decoration: underline;
  }
}
.login_form {
  table {
    font-size: 12px;
    line-height: 14px;
  }
  td {
    font-size: 14px;
    text-align: left;
    padding: 5px 10px;
  }

  .actions {
    background: none;
    opacity:1.0;
    -moz-opacity:1.0;
    filter:alpha(opacity=10);
    width: 300px;
    margin: 0;
    padding: 0;
  }
}