.pop_login {
  position: fixed;
  color:#fff;
  top: 10%;
  left: 50%;
  width: 360px;
  margin-left: -200px;
  padding: 20px ;
  background: #000;
  text-align:center;
  border-radius: 10px;
  border: solid 2px #333;
  box-shadow: INSET 0 0 10px #fff;
  opacity: 0.8;
  display: none;
  a {
    font-size: 12px;
    text-decoration: none;
    color: #c00;
  }
  a:hover {
    text-decoration: underline;
  }
}
.login_form {
  width: 
  table {
    margin: 20px 0;
    font-size: 12px;
    line-height: 14px;
    width: 300px;
  }
  th {
      font-weight:bold;
      border-bottom: 1px solid #666;
  }
  td, th {  
    text-align: left;
    width: 150px;


  }
  .actions {
    background: none;
    opacity: 1;
    width: 300px;
    margin: 0;
    padding: 0;
  }
}