.inner{
  height: 520px;
}
.slide {
  z-index: 99;
  .headline {
    margin-top: -420px;
    margin-left: 60px;
    h1 {
      font-size: 64px;
      background: #fff;
      text-shadow: 0 0 10px #000;
    }
  
  }
  .content {
    margin-left: 60px;
    background: #111;
    z-index: 150;
    p {
      text-shadow: 0 0 10px #000;
    }
  }
}