.slideshow{
  position: relative;
  height: 520px;
  width: 970px;
  box-shadow: 0 0 5px #000;
  background-color: #222;
}
.slide {
  .headline {
    position: absolute;
    z-index: 100;
    background: #000;
    padding: 10px 20px;
    top: 410px;
    left: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000, -2px -2px 10px #fff;
    h1 {
      font-size: 64px;
      text-shadow: 0 0 10px #aaa;
    } 
  }
}