.slideshow{
  height: 520px;
  width: 970px;
  box-shadow: 0 0 5px #000;
  background-color: #222;
}
.slide {
  .headline {
    display: block;
    z-index: 100;
    background: #999;
    margin-top: -480px;
    margin-left: 40px;
    h1 {
      font-size: 64px;
      text-shadow: 0 0 10px #000;
    } 
  }
  .content {
    margin-left: 60px;
    background: white;
    p {
      text-shadow: 0 0 10px #000;
    }
  }
}