body {
	background-color: #111;
	background: url(back.jpg);
	font-family: Arial, sansserif;
	color: #ddd;
}
p {
	font-size: 12px;
}


/**** Links ****/

a {
	color: #bbb;
	text-decoration: none;
}
a:hover {
	color: #fff;
}
#quicklinks a{
	text-decoration: none;
	color: #666;
}
.menu a {
	font-size: 18px;
	text-decoration: none;
}

.tile {
	.title {
		a {
			font-size: 20px;
			text-decoration: none;
		}
	}
}


/**** Header ****/

h1 {
	font-size: 20px;
	font-weight: bold;
}
h1.page_title {
	color: #666;
	line-height: 36px;
	margin-top: 20px;
}
h1.half_title {
  color: #666;
	font-size: 20px;
	margin-top:20px;
	a {
		color: #666;
	}
	a:hover {
		color: #ccc;
	}
}
#quicklinks h1 {
	color: #666;
	
}
#quicklinks .category ul a{
	font-weight: normal;
	font-size: 16px;
	color: #666;
}

/**** QUICKLINKS ****/

#quicklinks{
  .category{
    a {
	  font-weight: normal;
	  font-size: 14px;
	  color: #252020;
	}
	a:hover {
    	color: #ccc;
	}
	li {
		a {
			font-size: 12px;
		}
	}
  }

}