body {
	background-color: #111;
	background: url(back.png);
	font-family: Arial, sansserif;
	color: #ddd;
}
p {
	font-size: 12px;
}


/**** Links ****/

a {
	color: #bbb;
}
a:hover {
	color: #fff;
}
#quicklinks a{
	text-decoration: none;
}
.menu a {
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0 0 5px #000;
}
.menu_item {
	a:hover, a:active{
		border-bottom: 3px solid #c00;
	}
}
.tile {
	.title {
		a {
			font-size: 20px;
			text-decoration: none;
		}
	}
}


/**** Header ****/

h1 {
	font-size: 20px;
	font-weight: bold;
}
h1.page_title {
	color: #666;
	line-height: 36px;
	margin-top: 20px;
}
#quicklinks h1 {
	color: #666;
	
}
#quicklinks .category ul a{
	font-weight: normal;
	font-size: 16px;
	color: #666;
}

/**** QUICKLINKS ****/

#quicklinks{
  .category{
    a {
	  font-weight: normal;
	  font-size: 14px;
	  color: #222;
	}
	a:hover {
    	color: #c00;
	}
	li {
		a {
			font-size: 12px;
			color: #666
		}
	}
  }

}